
<div class="remote">
  <div class="remote__nav">
    <button ng-class=" {'remote__btn--disabled' : isFirstSlide} " class="remote__up"></button>
    <button ng-class=" {'remote__btn--disabled' : isLastCategory} " class="remote__right"></button>
    <button ng-class=" {'remote__btn--disabled' : isLastSlide} " class="remote__down"></button>
    <button ng-class=" {'remote__btn--disabled' : isFirstCategory} " class="remote__left"></button>
  </div>
</div>