$remote__button-w : 80px;
.remote{
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  top: 30px;

}

.remote__nav{
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
  background-color: transparentize($white, .9);
  border-radius: $remote__button-w;
  max-height: $remote__button-w * 5;
  max-width: $remote__button-w * 5;

  left: 50%;
  @include transform(translateX(-50%));
  @include animate(fadeIn 2s ease .2s both);

}



%remote__button{
  display: block;
  padding: 0;
  width: $remote__button-w;
  height: $remote__button-w;
  border-radius: 20px;
  border: none;
  font-size: 48px;
  color: $white;
  background-color: transparentize($white, .8);
  position: absolute;
  margin-left: -.5 * $remote__button-w;
  margin-top: -.5 * $remote__button-w;
  transition: .2s box-shadow;

  &:active{
    background-color: transparentize($white, .7);
    box-shadow: 0 0 0 20px transparentize($white, .6);
  }

  &:focus{
    outline: none;
  }
}

.remote__btn--disabled{
  opacity: .3;
}

.remote__up    {
  @extend %remote__button;
  @extend [class*="icon-"];
  @extend .icon-arrow-up;

  left: 50%;
  top: $remote__button-w;
}

.remote__right {
  @extend %remote__button;
  @extend [class*="icon-"];
  @extend .icon-arrow-right;
  right: $remote__button-w * .5;
  top: 50%;
}
.remote__down  {
  @extend %remote__button;
  @extend [class*="icon-"];
  @extend .icon-arrow-down;
  left: 50%;
  bottom:  $remote__button-w * .5;
}
.remote__left  {
  @extend %remote__button;
  @extend [class*="icon-"];
  @extend .icon-arrow-left;
  left: $remote__button-w;
  top:  50%;
}




.remote__tools{
  max-width: 400px;
  margin: 0 auto;
  @include animate(fadeInDown 1s ease 0 both);
}
@import "remote/room";
