
<div>
  <div class="remote__tools"><span class="remote__room">{{topMessage}}</span></div>
  <div ng-show="status == 'ready'">
    <haiku-remote remote="remote" preview-status="previewStatus"></haiku-remote>
  </div>
</div>