
.remote__room{
  display:        inline-block;
  width:          100%;
  border-radius:  20px;
  padding:        0 .5em;
  border:         none;
  height:         64px;
  line-height:         64px;
  font-size:      32px;
  letter-spacing: 10px;
  font-weight:    100;
  text-align:     center;
  background:     rgba(255,255,255,.2);
  transition:     .3s all;
  z-index: 2;
  position: relative;
  color: $white;
  margin: 0 auto;


  &::-webkit-input-placeholder{
    color: transparentize($white, .1);
  }

  &:focus{
    outline: none;
    box-shadow: 0 0 0 10px transparentize($white, .6) inset;
  }
}
