!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
    <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
html(class="no-js", lang="en")
  // <![endif]

  include head
  body(ng-controller='AppCtrl', ng-app="app", id="ng-app")
    .viewport
      .viewport__content(ng-view)

    script(src="@@hubURL/socket.io/socket.io.js")
    script
      window.haiku = {
        config: {
          hubURL: '@@hubURL'
        }
      }
    script(src='js/vendor.js')
    script
      $(function(){
        $('body').on('touchmove', function (e) {
           if (!$('.scrollable').has($(e.target)).length) e.preventDefault();
        });
      });

    script(src='js/templates.js')
    script(src='js/app.js')
