.remote
  .remote__nav
    button.remote__up(ng-class=" {'remote__btn--disabled' : isFirstSlide} ")
    button.remote__right(ng-class=" {'remote__btn--disabled' : isLastCategory} ")
    button.remote__down(ng-class=" {'remote__btn--disabled' : isLastSlide} ")
    button.remote__left(ng-class=" {'remote__btn--disabled' : isFirstCategory} ")