@import "compass/css3";

@import "config";      // configuration variables for inuit, called overrides in similar projects
@import "colors";      // basic color palette
@import "typography";  // sizes, scales, webfonts
@import "ui/icons";    // not typography per se (despite of the fact that they use fonts internally)
@import "utils/animate";
// Vendor imports

@import 'CSS:../vendor/animate.css/animate';
@import '../vendor/inuit.css/inuit';

// Custom components
@import "ui/buttons";
@import "ui/remote";

*, *::after, *::before{
  box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 
// body{
//   user-select: none;
//   -webkit-user-select: none;
//   font-family: $font-family-body;
// }

.viewport{
  padding: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: $red;
}
